<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%=title%></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="Description" content="米可医疗"/>
		<meta name="Keywords" content="米可医疗"/>
		<meta http-equiv="Pragma" content="no-cache" />
		<link rel="shortcut icon" href="/img/favicon.ico">
	<!--	<link rel="stylesheet" type="text/css" href="/stylesheets/mui.min.css"/>--> 
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/iconfont.css">
		
		<script src="/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/zepto_touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/zepto_animate.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/zepto_ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/zepto_event.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		
		
		
		
		

